<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
               http://www.springframework.org/schema/context
               http://www.springframework.org/schema/context/spring-context-3.0.xsd">
               <context:annotation-config></context:annotation-config>

<bean class = "com.spring.ex.Product" id = "juned" autowire="byType">    
 <property name="pid" value = "111"></property>
 <property name="pname" value = "LED"></property>
 <property name="pprice" value = "120"></property>
 <property name="prating" value = "4 star"></property>
 
</bean>
 <bean class = "com.spring.ex.Address" id = "add">     
<property  name = "city" value = "jaipur"></property>
<property  name = "state" value = "rajasthan"></property >
<property name = "dist" value = "kota"></property>
<property name = "country" value = "India"></property>
</bean>
</beans>